{
  "project_info": {
    "project_number": "123456789012",
    "project_id": "your-firebase-project-id",
    "storage_bucket": "your-firebase-project-id.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:123456789012:android:abcdef0123456789abcdef",
        "android_client_info": {
          "package_name": "com.trustledger.aitrustledger"
        }
      },
      "oauth_client": [
        {
          "client_id": "123456789012-abcdef0123456789abcdef0123456789.apps.googleusercontent.com",
          "client_type": 1,
          "android_info": {
            "package_name": "com.trustledger.aitrustledger",
            "certificate_hash": "0123456789ABCDEF0123456789ABCDEF01234567"
          }
        },
        {
          "client_id": "123456789012-abcdef0123456789abcdef0123456789.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "YOUR_FIREBASE_API_KEY_HERE"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "123456789012-abcdef0123456789abcdef0123456789.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}
